body {
  margin: 0;
  padding: 0;
  font-family: Maitree, serif;
  overflow-y: auto; /* Enable vertical scrolling for the entire webpage */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the container height to full viewport height */
}

.newspaper-column {
  max-width: 600px; /* Set maximum width for the column */
  padding: 20px; /* Add padding for better readability */
  margin-top: 1500px;
}

  /*progressbar*/
  .barheader {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #533218;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #25aa04;
    width: 0%;
  }

  
  